.modal-content {
    background: #f3f3f3;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.modal-content {
    max-height: 80vh; 
    overflow-y: auto;
    overflow-x: hidden;
}