.header__table-home {
    font-family: 'Rubik-LightItalic';
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.header__table-home:hover {
    color: rgb(209, 0, 34);
}