.menu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    list-style: none;
    margin: 0;
    min-width: 450px;
}

.menu li {
    padding: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.menu a:hover {
    color: red;
}
